@charset "UTF-8";

body {
    overflow-x: hidden;
    width: 100%;
}
.pointer {
    cursor: auto;
}
.pointer:hover {
    cursor: pointer;
}

.ezup-inputs-group {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}
.ezup-files-group{
    position: relative; 
    height: 25px; 
    display: inline-block;
}
.ezup-files-group div {
    height: 100%;
    position: relative;
}
.ezup-files-group-img {
    display: inline-block;
    padding-left: 10px; 
    height: 100%;
}

/****************************************





.ezup-progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background: #DDDDDD;
    padding: 0;
}
.ezup-progress-text-left {
    z-index: 500;
    float: left;
    display: inline-block;
    font-weight: bold;
}
.ezup-progress-text-right {
    z-index: 500;
    float: right;
    display: inline-block;
    font-weight: bold;
}
.ezup-progress {
    position: absolute;
    height: 100%;
    z-index: 0;
    background: #337ab7;
    top: 0;
    left: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.ezup-description {
    display: none;
    margin-top: 10px;
    margin-left: 60px;
    height: 75px;
    width: 240px;
    max-width: 500px;
    max-height: 150px;
}
.ezup-feedback {
    display: inline-block;
    color: red;
}

#uploaded {
    width: 100%;
}
#uploaded td {
    padding: 2px;
}
#upload_progress {
    display: none;
}
#file {
  position: relative;
}
*/